/* TEST CODE CSS MUSIC APP  */

/* body {
    background: linear-gradient(250deg, #0675f3, #ec167a);
    background-repeat: no-repeat;
} */

html, body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(250deg, #0675f3, #ec167a);
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {}

* {
    margin: 0;
    padding: 0;
}

#navbarComplete {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 20px;
    text-decoration: none;
}

.container {
    font-size: 20px;
}

.navbar-brand {
    font-size: 20px;
}

.navbar-toggler-icon {
    /* background: white; */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    font-size: 20px;
}

/* Set the border color to the desired color */

/* .custom-toggler.navbar-toggler {
    border-color: lightgreen;
} */

.nav-link {
    text-decoration-style: none;
    text-decoration: none;
    text-decoration-skip-ink: none;
}

a {
    color: whitesmoke;
    font-weight: bold;
    text-decoration-color: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.7);
    font-size: 25px;
    text-decoration: none;
}

ul {
    text-decoration-style: none;
    text-decoration: none;
    text-decoration-skip-ink: none;
}

#logoSite {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}

#lienLogo {}

#divLogo {
    display: flex;
    flex-direction: row;
    float: left;
    font-size: 50px;
}

#titreLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    padding: 15px;
}

form {}